#entry_schedule{
    display: grid;
	grid-template-areas: 
    "shedule";
	grid-template-rows:auto;
	grid-template-columns: auto;
	grid-gap: 0px;
    height: 100vh;
    margin: 0px;  
}
#entry_schedule #schedule{grid-area: shedule;}



/*list*/
#services{
    display: grid;
	grid-template-areas: 
    "buttons"
    "filter_sort_search"
    "services_list";
	grid-template-rows: 10% 15% auto;
	grid-template-columns: 1fr;
	grid-gap: 0px;
    height: 100vh;
    margin: 0px;  
}
#services #buttons{grid-area: buttons;}
#services #filter_sort_search{
    grid-area: filter_sort_search;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

@media screen and (max-width: 986px) {
    #services #filter_sort_search{
        grid-area: filter_sort_search;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        height: fit-content;
    }
}

@media screen and (max-width: 651px) {
    #services #filter_sort_search{
        grid-area: filter_sort_search;
        display: grid;
        height: fit-content;
        grid-template-columns: auto;
        justify-content: space-between;
    }
    #services{
        grid-template-rows: 10% 20% auto;
    }
}
#services #filter_sort_search #filter{
    display: inline-flex;
    align-items: center;
}
#services #filter_sort_search #sort{
    display: inline-flex;
    align-items: center;
}
#services #filter_sort_search #search{
    display: inline-flex;
    align-items: center;
}
#services #services_list{
    grid-area: services_list;
    display:flex;
    flex-direction: column;
    justify-content: start;
}
#services #services_list .service-item{
    height: 30px;
    padding: 10px 20px 10px 20px;
    margin: 10px 0px 10px 0px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
#services #services_list .service-item span{
    display: inline-flex;
}
/**/
#masters{
    display: grid;
	grid-template-areas: 
    "gallery gallery gallery gallery ";
	grid-template-rows: auto;
	grid-template-columns: auto auto auto auto;
	grid-gap: 0px;
    height: 100vh;
    margin: 0px; 
}
#masters #filter_sort_search{
    display: inline-flex; align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
#masters #search{
    display: inline-flex; align-items: center;
    height: 50px;
}
#masters #gallery{grid-area: gallery;}
#masters #gallery #gallery_{display: grid;grid-template-columns: 25% 25% 25% 25%;}
#masters #gallery .master-card{
    position: relative;
    height: 175px;
}
#masters #gallery .master-card h5,
#masters #gallery .master-card p{
    margin: 3px;
}
#masters #gallery .master-card .events{
    
    position: absolute;
    right: 3px;
    bottom: 3px;
    display: none;
}
#masters #gallery .master-card:hover .events{
    display: inline-flex;
}

/*table*/
#scklad{
    display: grid;
	grid-template-areas: 
    "table table table table";
	grid-template-rows:auto;
	grid-template-columns: 25% 25% 25% 25%;
	grid-gap: 0px;
    height: 100vh;
    margin: 0px;  
}
#scklad #table{
    grid-area: table;
}
#scklad table td,
#scklad table th{
    border: 0.5px solid gray;
}

/*???*/
#financial_accounting{
    display: grid;
	grid-template-areas: 
    /*"card1 card1 card2 card2 card3 card3"*/
    "buttons buttons form form form form"
    "chart chart chart report report report"
    "top_services top_services top_clients top_clients top_employee top_employee";
	grid-template-rows: /*20%*/ 10% 45% 24%;
	grid-template-columns: 17.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
	grid-gap: 0px;
    height: 100vh;
    margin: 0px;  
}
#financial_accounting #buttons{grid-area: buttons;display: inline-flex;align-items: center;}
#financial_accounting #card1{grid-area: card1;}
#financial_accounting #card2{grid-area: card2;}
#financial_accounting #card3{grid-area: card3;}
#financial_accounting #chart{grid-area: chart;}
#financial_accounting #report{grid-area: report;}
#financial_accounting #report #report_table{overflow:visible;padding: 0}
#financial_accounting #form{grid-area: form;display: inline-flex;align-items: center; justify-content: end;}
#financial_accounting #top_services{grid-area: top_services;}
#financial_accounting #top_clients{grid-area: top_clients;}
#financial_accounting #top_employee{grid-area: top_employee;}
/*table*/
#customer_base{
    display: grid;
	grid-template-areas: 
    "button card card card"
    "table table table table";
	grid-template-rows: 50px auto;
	grid-template-columns: 25% 25% 25% 25%;
	grid-gap: 0px;
    height: 100vh;
    margin: 0px; 
}
#customer_base #card{
    grid-area: card;
}
#customer_base button{
    grid-area: button;
}
#customer_base #table{
    grid-area: table;
}
#customer_base table td,
#customer_base table th{
    border: 0.5px solid gray;
}


#documents{
    display: grid;
	grid-template-areas: 
    "buttons"
    "list";
	grid-template-rows: 70px auto;
	grid-template-columns: auto;
	grid-gap: 0px;
    height: 100vh;
    margin: 0px;  
}
#documents #filter{
    display: inline-flex;align-items: center;
}
#documents #buttons{
    grid-area: buttons;
    display:flex;
    flex-direction: row;
}
#documents #documents_list{
    grid-area: list;
    display:flex;
    flex-direction: column;
    height: 100vh;
}
#documents #documents_list .list{
    
    display:flex;
    flex-direction: column;
}
#documents #documents_list .document-item{ 
    height: 50px;
    width: 1fr;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}
#documents #documents_list .document-item button{
    margin: 0 5px 0 0;
}
#documents #documents_list .document-item h5{
    margin: 4px;
    font-weight: lighter;
}
#documents #documents_list .document-item .tags
#documents #documents_list .document-item .options{
    display:flex;
    flex-direction: row;
}
#documents #documents_list .document-item .tags a.tag{
    background: limegreen;
    padding: 3px;
    font-size: 12px;
    text-decoration: none;
    color: white; 
    border-radius: 2px;
}